<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Vue-todo-list</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <h1 class="header">Todo list</h1>
    </div>
    <div class="wrapper">
        <div id="app">
            <div v-for="item in todos" class="todo-bg">
                <h1 class="todo">{{item.todo}}</h1>
                <button v-on:click="deleteTodo" v-bind:key="item.key" v-bind:id="item.key"
                    class="delete-btn">Delete</button>
            </div>
            <div class="addtodo">
                <!-- Add todo  -->
                <form @submit="onSubmit">
                    <div class="newtodolabel">
                        <label for="newtodo">Enter your todo</label>
                    </div>
                    <div>
                        <input type="text" id="newtodo" v-model="inputTodo" name="newtodo">

                    </div>
                    <div class="btn-div">
                        <button class="add-btn">Add todo</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>